@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
section, article, h3 { 
    margin-top: .5em;
}
section, article, div {
    margin-bottom: 1em;
}

/* apply formatting to all images inside portfolio thumbnails  */
.item {
 	border-style: solid;
	border-color:#41484c;
	border-width: .1em;	
}

.item img {
    position: relative;
    width: 80%;
}
